#footerContent {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    background-color: #0A2240;
}

.footerBtn{
  background-color: #d7d7d7;
    color: #0A2240;
    border-radius: 5px;
}

#copyright{
    color: white;
    font-family: Monda,'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 13px;
}

.contact_label {
    color: white; 
    font-family: Monda,'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: absolute;
    right: 14%;
    top: 9px;
    font-size: 14px;
    padding-right: 15px;
  }
  
  .logos {
   position: absolute;
   right: 4%;
   bottom: 8px;
   width: 154px;
  }
  
  .facebook_logo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .twitter_logo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .linkedin_logo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .fg_logo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
  }

  #logo{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
  }

  @media (max-width: 768px){
    .contact_label {display: none;}
  }
  
  @media (max-width: 385px){
    .copyright {width: 50%;}
  }

  @media (max-width: 600px){
    .facebook_logo {
      position: relative;
      visibility: hidden;
    }
    
    .twitter_logo {
      position: relative;
      visibility: hidden;
    }
    
    .linkedin_logo {
      position: relative;
      visibility: hidden;
    }
    
    .fg_logo {
      position: relative;
      visibility: hidden;
    }
  }