<div id="footerContent">
  <div id="copyright">
      © Copyright 2006 - 2018  Fenway Group LLC | 
  </div>
  
  <div class="logos">
      <!-- <a href="https://www.facebook.com/FenwayGroupConsulting/"><img class="facebook_logo" [src]="facebookLogoPath" width="30" height="30"/></a>
    <a href="https://twitter.com/Fenway_Group"><img class="twitter_logo" [src]="twitterLogoPath" width="32" height="32"/></a>
    <a href="https://www.linkedin.com/company/216673?trk=vsrp_companies_cluster_name&trkInfo=VSRPsearchId%3A5576106051484261649634%2CVSRPtargetId%3A216673%2CVSRPcmpt%3Acompanies_cluster"><img class="linkedin_logo" [src]="linkedInLogoPath" width="30" height="30"/></a>
     <a href="http://fenwaygroup.com/"><img class="fg_logo" [src]="fenwayLogoPath" width="30" height="30"/></a> -->
     <a class=" footerBtn facebook_logo" href="https://www.facebook.com/FenwayGroupConsulting/" target="_blank"><i class="fab fa-facebook-f foo"></i></a>
    <a class=" footerBtn twitter_logo" href="https://twitter.com/Fenway_Group" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class=" footerBtn linkedin_logo" href="https://www.linkedin.com/company/216673?trk=vsrp_companies_cluster_name&trkInfo=VSRPsearchId%3A5576106051484261649634%2CVSRPtargetId%3A216673%2CVSRPcmpt%3Acompanies_cluster" target="_blank"><i class="fab fa-linkedin-in"></i></a>
     <a class=" footerBtn fg_logo" href="http://fenwaygroup.com/" target="_blank"><img id='logo' [src]="logoPath"></a>
      </div>
</div>
