<div class="row">
  <div class="col-sm-12">
    <header number=0></header>
    <app-sign-in></app-sign-in>
  </div>
</div>

<!-- <div class="row">
    <div class="col-4"id="storiesBySprintDoughnutContainer">
        <dx-pie-chart
        id="storiesBySprintDoughnut"
        type="doughnut"
        title="Stories by Sprint"
        palette="Soft Pastel"
        [dataSource]="storiesBySprint">
        <dxi-series
            argumentField="arg"
            valueField="val">
            <dxo-label id = "storiesBySprintDoughnutHeader"
                [visible]="true">
                <dxo-connector [visible]="true"></dxo-connector>
            </dxo-label>
        </dxi-series> -->
        <!-- <dxo-export [enabled]="true"></dxo-export> -->
        <!-- <dxo-legend id = "storiesBySprintDoughnutLegend"
            [margin]="0"
            horizontalAlignment="right"
            verticalAlignment="top"></dxo-legend> -->
        <!-- <dxo-tooltip
            [enabled]="true"
            [customizeTooltip]="customizeTooltip">
        </dxo-tooltip> -->
    <!-- </dx-pie-chart>
    </div> -->
  <!-- <div class="col-4 searchInterface">-->
    <!--  This is the drop down to select the team/ teams   -->
    <!-- <mat-form-field class="selectTeamDrop">
      <mat-select placeholder="Select Team" [formControl]="Team" (change)="getAllSprintsByTeam($event.value.agile_system_id)">
        <mat-option *ngFor="let TeamChoice of TeamChoices" [value]="TeamChoice">{{TeamChoice.agile_system_name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div> --> 

<div id="gridWidgetContainer" class="effect7">
  <div class="selectTeam" class="row" id="searchWidgetContainer">
    <div class="col-4 searchField">
      <!--  This is the drop down to select the team/ teams   -->
      <mat-form-field class="selectSprint">
        <mat-select placeholder="Select Team" [formControl]="Team" (change)="getAllSprintsByTeam($event.value.agile_system_id)">
          <mat-option *ngFor="let TeamChoice of TeamChoices" [value]="TeamChoice">{{TeamChoice.agile_system_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <div class="col-3">
    <mat-form-field class="selectSprint">
      <mat-select placeholder='Select Team Member' [formControl]="Team" (change)="storeTeamMemberId($event.value.agile_system_user_id)">
        <mat-option *ngFor="let TeamMemberChoice of TeamMemberChoices" [value]="TeamMemberChoice">
          {{ TeamMemberChoice.agile_system_user_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->

    <div class="col-4 searchField">
      <mat-form-field class="selectSprint">
        <mat-select placeholder='Select Sprints' [formControl]="Sprint" (change)="storeSprintId($event.value)" multiple>
          <mat-option *ngFor="let SprintChoice of SprintChoices" [value]="SprintChoice">
            {{ SprintChoice.agile_sprint_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>



    <div class="col-4 searchField">
      <!-- This is the button to search the metrics   -->
      <button mat-button id="formCompleteButton" (click)='getAllStoriesWithUsersBySprint()' class='metricBtn' disabled><i class="fas fa-search"></i>

      </button>

    </div>
  </div>


  <!-- <div class="row" id="metricsPageRadio">
  <div class="col-12">
    <mat-radio-group>

      <mat-radio-button (change)="showGridGraph();" type="radio" id="metricsPageRadioRight" value="1" checked="true">Grid</mat-radio-button>
      <mat-radio-button (change)="showBarGraph();" type="radio" value="2">Bar </mat-radio-button>
    </mat-radio-group>
  </div>
<!-- </div> --> 

<!-- 
<div class="row" id="barGraphMetricsPageDiv">
  <div class="col-12"> -->
    <!-- This is the Bar Graph for the Metrics Page. -->
    <!-- <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    <button id="BarGraphMetricsPageUpdateBtn" (click)="randomize()">Update</button>
  </div>
</div>  -->

  <!-- <div class="row">
  <div class="col-3">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
</div> -->
  <div class="row" id="gridGraphMetricsPageDiv">
  <div class="col-12">
    <dx-data-grid id="gridContainer" [dataSource]="StoryChoices" [showRowLines]="true" [showBorders]="true">
      <dxo-export [enabled]="true" fileName="Employees" [allowExportSelectedData]="true"></dxo-export>
      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-header-filter [visible]="true"></dxo-header-filter>

      <dxo-sorting mode="none"></dxo-sorting>
      <dxo-paging [pageSize]="10"></dxo-paging>

      <dxi-column dataField="agile_story_id" caption="Story ID"></dxi-column>
      <!-- <dxi-column dataField="agile_story_id" caption="Story Name" ></dxi-column> -->
      <dxi-column dataField="agile_sprint_name" caption="Sprint"></dxi-column>
      <dxi-column dataField="story_type" caption="Story Type"></dxi-column>
      <dxi-column dataField="agile_system_user_story_points" caption="User's Story Pts"></dxi-column>
      <dxi-column dataField="agile_system_user_name" caption="User"></dxi-column>

    </dx-data-grid>
  </div>
</div>
<app-loading-panel></app-loading-panel>