<div class="row">
  <div class="col-lg-12">
    <header number=9></header>
  </div>
</div>

<div id="agileTeamGridContainer" class="row gridWidgetContainer">

  <div id="systemComponents" class="col-lg-4 col-sm-12 searchField">
    <!-- Top Buttons -->
    <dx-button id="addSystemButton" class="serchBtns" hint="Add Lab" (onClick)="addSystemButtonClicked()" hoverStateEnabled="true" icon="fas fa-plus"></dx-button>
    <!-- <dx-button id="editSystemButton" class="serchBtns" hint="Update System" (onClick)="editSystemButtonClicked()" hoverStateEnabled="true" icon="fas fa-pencil-alt"></dx-button> -->
    <!-- System Fields -->
    <dx-select-box id="selectSystemDropDown" class="editFields" placeholder="Team" [dataSource]="systemSelectBoxDataSource" displayExpr="agileSystemName" valueExpr= "agileSystemId" [searchEnabled]="true" [(ngModel)]="systemDropDownValue" (onValueChanged)="systemDropDownValueChanged($event.value)"></dx-select-box>
    <dx-text-box id="systemTextField" class="editFields" placeholder="System Name" [(ngModel)]="systemTextFieldValue" (onValueChanged)="systemTextFieldValueChanged($event)"></dx-text-box>
    <dx-text-box id="typeTextField" class="editFields" placeholder="Type" [(readOnly)]="readOnly" [(ngModel)]="typeValue" (onValueChanged)="typeValueChanged($event)"></dx-text-box>
    <dx-select-box id="selectTeamDropDown" class="editFields" placeholder="Team" [dataSource]="teamSelectBoxDataSource" displayExpr="workTeamName" valueExpr= "workTeamId" [searchEnabled]="true" [(readOnly)]="readOnly" [(ngModel)]="teamValue" (onValueChanged)="teamValueChanged($event)"></dx-select-box>
    <dx-check-box id="activeCheckBox" class="editFields" text="Active" (onValueChanged)="checkBoxToggled($event)" [(readOnly)]="readOnly" [(ngModel)]="activeValue"></dx-check-box>
    <!-- System User Fields -->
    <dx-text-box id="teamMemberTextField" class="editFields" placeholder="Team Member" [(ngModel)]="teamMemberValue" readOnly="true" ></dx-text-box>
    <dx-text-box id="systemUserTextField" class="editFields" placeholder="System User Name" [(ngModel)]="systemUserTextFieldValue" (onValueChanged)="systemUserTextFieldValueChanged($event)"></dx-text-box>
    <dx-check-box id="activeSystemUserCheckBox" class="editFields" text="System User Active" (onValueChanged)="checkBoxSystemUserToggled($event)" [(readOnly)]="readOnly" [(ngModel)]="activeSystemUserValue"></dx-check-box>
    <!-- Submit/Cancel Buttons -->
    <div id="agileTeamSubmitCancelBtnContainer">
      <!-- <dx-button id="submitButton" class="submitBtn" text="{{submitButtonLbl}}" (onClick)="openModal(submitConfirmationModal)" hoverStateEnabled="true" [(disabled)]="submitButtonDisabled"></dx-button> -->
      <dx-button id="submitButton" class="submitBtn" text="{{submitButtonLbl}}" (onClick)="submitButtonClick()" hoverStateEnabled="true" [(disabled)]="submitButtonDisabled"></dx-button>
      <dx-button id="cancelAddButton" class="cancelBtn" text="Cancel" (onClick)="cancelAddButtonClicked()" hoverStateEnabled="true"></dx-button>
    </div>
  </div>
  <!-- Team Member Grid -->
  <div class="col-lg-8 col-sm-12" id="agileTeamGrid">
    <dx-data-grid id="gridContainer" [dataSource]="systemUserGridDataSource" [showRowLines]="true" [showBorders]="true" (onRowClick)="onRowClick($event)">
      <dxo-export [enabled]="true" fileName="Employees" [allowExportSelectedData]="true"></dxo-export>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxi-column dataField="fullName" caption="Course"></dxi-column>
      <dxi-column dataField="teamMemberUserActiveView" caption="Description"></dxi-column>
      <dxi-column dataField="agileSystemUserName" caption="Teams"></dxi-column>
      <!-- <dxi-column dataField="systemUserActiveView" caption="Active" width="100"></dxi-column> -->
    </dx-data-grid>
  </div>

</div>
<!-- Confimation Model -->
<ng-template #submitConfirmationModal>
        <div class="modal-body">
          <p id="agileChange">Are you sure you want to make these changes?</p>
        </div>
        <div class="modal-footer">
          <dx-button id="confirmYesBtn" class="confirmModalBtn submitBtn" text="Yes" hoverStateEnabled="true" (onClick)="confirmYesButtonClicked()" ></dx-button>
          <dx-button id="confirmNoBtn" class="confirmModalBtn cancelBtn" text="No" (onClick)="confirmNoClicked()" hoverStateEnabled="true"></dx-button>
        </div>
  </ng-template>

