<div class="container">
    <div class="row">
        <div id="navDiv" class="col-sm-2">
            <app-nav-bar></app-nav-bar>
        </div>
        <div id="contentDiv" class="col-sm-10">
            <div id='contentRow' class="row">
                <div id="routerDiv" class="col-sm-12">
                    <router-outlet ></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row"> -->
            <app-footer></app-footer>
    <!-- </div> -->
   
</div>