<div class="row">
  <div class="col-lg-12">
    <header number=5></header>
  </div>
</div>

<div id="agileTeamGridContainer" class="row gridWidgetContainer">

  <div id="systemComponents" class="col-lg-4 col-sm-12 searchField">
    <dx-button id="addSystemButton" (onClick)="addSystemButtonClicked()" hoverStateEnabled="true" icon="fas fa-plus"></dx-button>
    <dx-button id="editSystemButton" (onClick)="editSystemButtonClicked()" hoverStateEnabled="true" icon="fas fa-pencil-alt"></dx-button>
    <dx-select-box id="selectSystemDropDown" placeholder="System Name" [dataSource]="systemSelectBoxDataSource" [searchEnabled]="true"></dx-select-box>
    <dx-text-box id="systemTextField" placeholder="System Name"></dx-text-box>
    <dx-text-box id="typeTextField" placeholder="Type" [(readOnly)]="readOnly"></dx-text-box>
    <dx-select-box id="selectTeamDropDown" placeholder="Team" [dataSource]="teamSelectBoxDataSource" [searchEnabled]="true" readOnly="true"></dx-select-box>
    <dx-check-box id="activeCheckBox" text="Active" [value]="false" (onValueChanged)="checkBoxToggled($event)" readOnly="true"></dx-check-box>
    <div id="agileTeamSubmitCancelBtnContainer">
      <dx-button id="submitButton" text="{{buttonLbl}}" (onClick)="submitButtonClicked()" hoverStateEnabled="true" disabled="true"></dx-button>
      <dx-button id="cancelButton" text="Cancel" (onClick)="cancelButtonClicked()" hoverStateEnabled="true"></dx-button>
    </div>
  </div>

  <div class="col-lg-8 col-sm-12" id="agileTeamGrid">
    <dx-data-grid id="gridContainer" [dataSource]="" [showRowLines]="true" [showBorders]="true">
      <dxo-export [enabled]="true" fileName="Employees" [allowExportSelectedData]="true"></dxo-export>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxi-column dataField="agile_story_id" caption="Team Members"></dxi-column>
      <dxi-column dataField="agile_sprint_name" caption="System Users"></dxi-column>
    </dx-data-grid>
  </div>

</div>
<app-loading-panel></app-loading-panel>