#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 89.5px;
    bottom: 40px;
    overflow-y: auto;
    background-color: #969696;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-right: 15px;
    overflow-x:hidden;
    overflow-y:scroll
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

#wrapper {
    padding-left: 220px;
}

    #wrapper.toggled {
        padding-left: 0;
        /* -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s; */
    }

/* .gradient {
    background-image:
      linear-gradient(
        45deg, 
        red, #f06d06
      );
  } */

/* .gradient {
    background-image:
      linear-gradient(
        5deg, 
        #858585,#696969
      );
  } */

  #mainMenu {
    box-shadow: inset;
  }

img {
    max-width: 80%;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toggled img {
    display: none;
}

#navMenu {
    pointer-events:auto;
}

#infoRegistered {
    display: none;
}

#infoSupplier {
    display: none;
}

/* Sidebar Styles */

/*Initial positioning of the sidebar*/
#homePageTab {
    border-top: #666666 solid 1px;
}

.sidebar-nav {
    top: 0;
    right: 15px;
    width: 225px;
    height: 125px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 0;
}

.navLabels {
    color: white;
    margin-left: 10px;
}

/*User info at the top of the navbar*/
/* #userInfoDiv {
    display: block;
    font-size: 15px;
    margin: 10px;
    padding-top: 30px;
    color: white;
} */

span {
    margin-left: 15px;
    vertical-align: middle;
}

#menu-toggle {
    margin: 0 !important;
    margin-top: 20px;
    float: right;
    color: #ffffff;
}

.toggled #menu-toggle {
    margin-left: 10px !important;
}

#toggleIconDiv {
    font-size: 20px !Important;
    margin-left: 206px;
    top: -90px;
}

.toggled #toggleIconDiv {
    font-size: 20px !Important;
    margin-left: 0;
    margin-top: 20px;
}

.toggled .sidebar-brand {
    margin-top: -20px;
    padding-bottom: 60px;
}

p {
    line-height: 5px;
    color: white;
}

i {
    font-size: 22px;
}

/*Spacing of menu items*/
.sidebar-nav li {
    text-indent: 2px;
    line-height: 40px;
}

    /*Styling for the menu links*/
    .sidebar-nav li a {
        padding-left: 10px;
        font-family: Monda,'Helvetica Neue', Helvetica, Arial, sans-serif;
        display: block;
        text-decoration: none;
        color: #f3f3f4;
    }

        /*Styling form hovering over menu items*/
        .sidebar-nav li a:hover {
            width: 100%;
            text-decoration: none;
            color: #ffffff;
            background: rgb(207, 16, 45);
            -webkit-box-shadow: 0px 0px 2px #303030;
            -moz-box-shadow: 0px 0px 2px #303030;
            box-shadow: 0px 0px 2px #303030;
        }

/*Styling for selected menu item*/
.primaryListItem.link-active {
    width: 108%;
    background: #1a3b68 !important;
    border-left: 4px solid rgb(207, 16, 45);
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 2px #303030;
    -moz-box-shadow: 0px 0px 2px #303030;
    box-shadow: 0px 0px 2px #303030;
}

/*Position of hamburger button*/
.sidebar-nav > .sidebar-brand {
    height: 186px;
    padding-left: 7px;
}

    /*Removes hover styling from hamburger button*/
    .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
        background: none;
        padding-right: 21.2px;
    }

#wrapper.toggled .sidebar-brand {
    width: 240px;
    padding-right: 15px;
    height: 65px;
}

#wrapper.toggled #homePageTab {
    margin-top: 0; 
}

#wrapper.toggled .sidebar-nav > .sidebar-brand a:hover {
    width: 225px;
    padding-right: 15px;
}

#wrapper.toggled .sidebar-nav li a:hover {
    width: 240px;
    padding-right: 15px;
}

#wrapper.toggled .sidebar-nav li a {
    width: 225px;
}

#wrapper.toggled .sidebar-nav {
    width: 225px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 45px;
}

#wrapper.toggled span {
    visibility: hidden;
}

span.crosshair {
    cursor: crosshair;
}

#healthResourceMenuItem, #idcards, #infoView, #messageCen {
    cursor: pointer;
}

#firstCareIcon {
    height: 9%;
    width: 9%;
}
#firstCareIcon2 {
    height: 7%;
    width: 7%;
}

    #firstCareIcon:hover {
    }

#iconWrapper {
    line-height: 40px;
    margin-bottom: 0;
}

    #iconWrapper:hover {
    }

li.primaryListItem {
    min-width: 240px;
    width: 100%;
    border-bottom: #666666 solid 1px;
    background-color: #707070;
    /* -webkit-box-shadow: 0px 0px 7px #6d6c6d;
    -moz-box-shadow: 0px 0px 7px #6d6c6d;
    box-shadow: 0px 0px 2px #6d6c6d; */
}

@media only screen and (min-width:801px) {
    #sidebar-wrapper {
        top: 0;
    }
/* 
    #wrapper {
        width: 50px;
    }

    #userInfoDiv {
        display: none;
    }

    #homePageTab {
        margin-top: -40px;
    }

    .submenu.open {
        margin-top: -40px;
        position: fixed;
        left: 50px;
        width: 35%;
    }

    ul .submenu.open {
        padding: 0;
    }

    #divNav.toggled {
        display: block;
        margin-left: -5%;
        padding-left: 0;
    }*/
} 

@media only screen and (max-width:600px) {
    .sidebar-brand {
        display: none;
    }

    #wrapper .sidebar-brand {
        width: 240px;
        padding-right: 15px;
        height: 65px;
    }
    
    #wrapper #homePageTab {
        margin-top: 0; 
    }
    
    #wrapper .sidebar-nav > .sidebar-brand a:hover {
        width: 225px;
        padding-right: 15px;
    }
    
    #wrapper .sidebar-nav li a:hover {
        width: 240px;
        padding-right: 15px;
    }
    
    #wrapper .sidebar-nav li a {
        width: 225px;
    }
    
    #wrapper .sidebar-nav {
        width: 225px;
    }
    
    #wrapper #sidebar-wrapper {
        width: 45px;
        top: 50px
    }
    
    #wrapper span {
        visibility: hidden;
    }
}

@media (min-width:601px) and (max-width:800px) {
    .sidebar-brand {
        display: none;
    }

    #wrapper .sidebar-brand {
        width: 240px;
        padding-right: 15px;
        height: 65px;
    }
    
    #wrapper #homePageTab {
        margin-top: 0; 
    }
    
    #wrapper .sidebar-nav > .sidebar-brand a:hover {
        width: 225px;
        padding-right: 15px;
    }
    
    #wrapper .sidebar-nav li a:hover {
        width: 240px;
        padding-right: 15px;
    }
    
    #wrapper .sidebar-nav li a {
        width: 225px;
    }
    
    #wrapper .sidebar-nav {
        width: 225px;
    }
    
    #wrapper #sidebar-wrapper {
        width: 45px;
        top: 50px
    }
    
    #wrapper span {
        visibility: hidden;
    }
}

/* @media(max-width:575px) {
    #sidebar-wrapper {
        top: 115px;
    } 
} */

/* @media(min-width:770px) {
    #divNav.toggled {
        display: block;
        margin-left: -5%;
        padding-left: 0;
    }
} */

/*#region Scroll*/

 .scrollable-content {
     overflow-x:hidden;
     overflow-y: hidden;
   }

    .scrollable-content::-webkit-scrollbar {
      width:0;
      padding: 0;
    }

    .scrollable-content::-webkit-scrollbar * {
      background:transparent;
    }

    .scrollable-content::-webkit-scrollbar-thumb {
      background:#999 !important;
      opacity:0.52;
    }

    .scrollable-content::-webkit-scrollbar-track {
        background: transparent;
    }

html {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
    height: 130px; 
    overflow-x: scroll;
    background: transparent;  
}

/*#endregion*/

/*#region IE Responsiveness*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .submenu.open.toggled {
        position: -ms-page;
    }
}

/* @media only screen and (max-width: 600px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
} */
/*#endregion*/

/*#region Ipad_Styling*/
/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .sidebar-brand {
        height: 40px !important;
    }

    #menu-toggle {
        margin: 0 !important;
        margin-left: 10px !important;
    }

    #userInfoDiv {
        display: none !important;
    }

    #toggleIconDiv {
        margin-left: 206px;
    }

}*/
/*#endregion*/