<!-- <h1 id="title"> {{title}} </h1> -->
<div class="row">
  <div class="col-sm-12">
    <h1 id="title"> {{title}} </h1>
    <app-sign-in></app-sign-in>
  </div>
</div>
<br />

<div id="gridWidgetContainer" class="effect7">
  <div class="selectTeam" class="row" id="searchWidgetContainer">
    <div class="col-sm-3">
      <mat-form-field class="selectTables">
        <mat-select placeholder="Select a Table" (change)="storeCurrentTable($event.value.viewValue)">
          <mat-option *ngFor="let table of tables" [value]="table">{{table.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-1">
        <button id="search" mat-button class='dataBtn' (click)="setupTable()">
            <i class="fas fa-search"></i>
          </button>
      </div>
      <div class="col-sm-1">
          <button id="addRow" mat-button class='dataBtn' (click)= "openModal(workUser, workTeam, workTeamMember, workDailyhours, agileSystem, agileSystemUser, agileSprint, agileStory, agileStoryAgileSystemUser)">
              <i class="fas fa-plus-circle"></i>
            </button>
        </div>

  </div>
  <div class="row" id="gridGraphMetricsPageDiv">
    <div class="col-12">
      <dx-data-grid id="gridContainer" [dataSource]="TableChoices" [showRowLines]="true" [showBorders]="true" [columns]="columnChoices" >
        <dxo-export [enabled]="true" fileName="Employees" [allowExportSelectedData]="true"></dxo-export>
        <dxo-selection mode="multiple"></dxo-selection>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxi-column *ngFor="let col of columnChoices" [dataField]="col.dataField" [caption]="col.caption"></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>

<!-- make ALL IDs read only -->
<ng-template #workUser>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Work User</h4></div>
  <div class="modal-body">
  Work User ID:<dx-text-box id="wUserId" [(value)] = "workUserId"></dx-text-box>
  <br />
  First Name:<dx-text-box id = "fName"  [(value)] = "firstName"></dx-text-box>
  <br />
  Last Name:<dx-text-box id = "lName"  [(value)] = "lastName"></dx-text-box>
  <br />
  Email:<dx-text-box id = "email"  [(value)] = "email"></dx-text-box>
  </div>
  <div class = "buttons">
      <button type="submit">Submit</button>
      <button>Cancel</button>
    </div>
    <br />

</ng-template>

<ng-template #workTeam>
  <div class = "modal-header">
    <h4 class="modal-title pull-left"> Work Team</h4></div>
  <div class = "modal-body">
    Work Team ID:<dx-text-box id="wTeamId" [(value)] = "workTeamID"></dx-text-box>
    Work Team Name:<dx-text-box id="wTeamName" [(value)] = "workTeamName"></dx-text-box>
    Project ID:<dx-text-box id="projectId" [(value)] = "projectID"></dx-text-box>
    Project Name:<dx-text-box id="projectName" [(value)] = "projectName"></dx-text-box>
  </div>
  <div class = "buttons">
      <button type="submit">Submit</button>
      <button>Cancel</button>
    </div>
</ng-template>

<ng-template #workTeamMember>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Work Team Member</h4></div>
  <div class="modal-body">
  Work Team Member ID:<dx-text-box id="wTeamMemberId" [(value)] = "workTeamMemberId"></dx-text-box>
  <br />
  Work Team ID:<dx-select-box
  [items]="['left', 'top']"
  [(value)]="labelLocation"></dx-select-box>
  <br />
 Work User ID :<dx-select-box
 [items]="['left', 'top']"
 [(value)]="labelLocation"></dx-select-box>
  <br />
  Work Team Name:<dx-text-box id="wTeamName" [(value)] = "workTeamName"></dx-text-box>
  <br />
  First Name:<dx-text-box id = "fName"  [(value)] = "firstName"></dx-text-box>
  <br />
  Last Name:<dx-text-box id = "lName"  [(value)] = "lastName"></dx-text-box>
  <br />
  </div>
  <div class = "buttons">
      <button type="submit">Submit</button>
      <button>Cancel</button>
      <br />
    </div>
    <br />
</ng-template>

<ng-template #workDailyhours>
    <div class = "modal-header">
      <h4 class="modal-title pull-left"> Work Daily Hours</h4>
    </div>
    <div class = "modal-body">
      Work Daily Hours ID:<dx-text-box id = "wDailyHoursId"  [(value)] = "workDailyHoursId"></dx-text-box>
      <br />
      Work Team Member ID:<dx-select-box
      [items]="['left', 'top']"
      [(value)]="labelLocation"></dx-select-box>
        <br />
      Work Date:<dx-text-box id="wDate" [(value)] = "workDate"></dx-text-box>
      <br />
      Hours:<dx-text-box id="hours" [(value)] = "hours"></dx-text-box>
      <br />
      Name:<dx-text-box id="name" [(value)] = "name"></dx-text-box>
      <br />
    </div>
    <div class = "buttons">
      <button type="submit">Submit</button>
      <button>Cancel</button>
    </div>
  </ng-template>

  <app-loading-panel></app-loading-panel>
