#addRow {
    margin-left: 5px;
    font-weight: bold;
    margin-top: 15px;
   float: right;
}

#gridLoadData {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
    max-height: 475px;
    margin-bottom: 20px;
}
#title {
    text-align: center;
    font-size: 50px;
    color: #1a3b68;
    font-family: 'Roboto';
    font-weight: bold;
    padding-top: 25px;
}

.dataBtn{
    border-radius: 3px;
    color: #484848;
}

#table {
   margin-left: 300px;

}
#search {
    margin-left: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
 #searchWidgetContainer{
z-index: 1;
margin-top: 10px;
} 
#gridWidgetContainer{
    background-color: white;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
    border-radius: 3px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
/*This is where you change the color of every odd row in grid*/
/deep/ .dx-datagrid-rowsview .dx-row:nth-child(odd) 
{
   background-color: #cccccc;
}

/*format for header of grid*/
/deep/ .dx-datagrid-headers .dx-row {
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: #1a3b68;
    color: white;
}
input {
    margin: 30px;
    position: relative;
 }
 /deep/ dx-text-box {
     width: 50%;
     height: 35px;
 }
 /deep/ dx-select-box {
     width: 50%;
 }
 .submit {
     margin-left: 20px;
     margin-right: 20px;
     padding: 50;
     float: right;
 }
 .cancel  {
     margin-left: 20px;
     margin-right: 20px;
     padding: 50;
     float: right;
 }
    
