/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}

.box h3 {
    text-align:center;
    position:relative;
    top:80px;
}

.effect7:before, .effect7:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.effect7:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.gridWidgetContainer {
    background-color: white;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 76px;
    padding-bottom: 10px;
    border-radius: 3px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.searchField {
    z-index: 4;
}

.searchFieldButton { 
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px transparent;
    box-shadow: 0 1px 3px transparent;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #ddd;
    color: #333;
    margin-top: 12px;
    height: 43px;
    width: 42px;
    font-size: 18px;
    /* margin-top: 6%; */
}

.searchWidgetContainer {
    /* z-index: 1; */
    margin-bottom: -53px;
    /* margin-top: 55px; */
}

.selectDropDown {
    width: 100%;
}